# Port for http connection
HTTP_PORT=3000

# Port for web socket connection
WS_PORT=8080

# The DB connection url
DB_URL=mongodb+srv://<user>:<password>@cluster0.gqiob.mongodb.net/<dbname>?retryWrites=true&w=majority
